DEPARTMENT OF SCIENCE AND TECHNOLOGY
Regional Office No. XII
PNHLSC Bldg., Barangay Paraiso, Koronadal City
SETUP Application Requirements Checklist
NAME OF PROPONENT: _______________________________________________________
Proponent shall submit the following documents to the DOST XII:
Requirements
Complied
Not Complied
Letter of intent to avail of the SETUP assistance, stating commitment to refund the iFund support and cover the insurance cost for the acquired equipment.
Accomplished DOST TNA Form 01 (Application for Technology Needs Assessment)
Accomplished DOST TNA Form 02 (Technology Needs Assessment Report)
Proposal following SETUP Form 001 (Project Proposal Format)
Copy of business permits and licenses issued by LGUs and other appropriate government agencies
Financial statements for the past three (3) years for small and medium enterprises and at least one (1) year for micro enterprises together with notarized Sworn Statement that all information provided are true and correct.
Project financial statements
Photocopy of Official Receipt
Certificate of registration of business name with the Department of Trade and Industry (DTI), Securities and Exchange Commission (SEC) or Cooperative Development Authority (CDA), whichever is applicable.
Copy of Articles of Incorporation for cooperatives and associations
Sworn affidavit of no relation up to the third degree of consanguinity and affinity to the approving authority and no bad debt
In the case of cooperatives and non-single proprietorship, LGUs, organization, Board/ Legislative Council resolution authorizing the availment of the assistance and designating authorized signatory for the financial assistance.
Three (3) quotations for each equipment from suppliers/ fabricators of the equipment to be purchased/ fabricated.
Complete technical design/ drawing of all equipment to be purchased/ fabricated
CONFORME:
__________________________            ___________________________
PROPONENT                     PROVINCIAL DIRECTOR
  (Signature over Printed Name) (Signature over Printed Name)
Date: ______________            Date: ______________
VERIFIED BY:
____________________________
CHIEF, Technical Services Division
(Signature over Printed Name)
Date: ______________
